* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    padding: 30px;
  
  }
  
  .note-wrapper {
    width: 100%;
    list-style-type: none;
  }
  .note {
    width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    color: #9695a7;
    box-shadow: var(--bs-neu);
  
    /* BREAK WORD WHEN TOO LONG */
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  
  
    margin: 5vh 0;
    /* transition: 0.4s ease-in-out; */
  }
  @media (min-width:800px) {
    .note-wrapper {
      margin: 0 auto;
        max-width: 1000px;
    }
        .note-wrapper .gutter-sizer {
            width: 4%;
        }
        .note {
            width: 48%;
        }
  }
  @media (min-width:1200px) {
    .note-wrapper {
        max-width: 1300px;
    }
        .note-wrapper .gutter-sizer {
            width: 2%;
        }
        .note {
            width: 32%;
        }
  }
  @media (min-width:1400px) {
    .note-wrapper {
        max-width: 1400px;
    }
        .note-wrapper .gutter-sizer {
            width: calc(8% / 3);
        }
        .note {
            width: 23%;
        }
  }